@*Made by Robert*@
@page "/advert/{id:int}"
@inject IAdvertService advertService
@inject IClient client

<div class="container" style="display: flex; justify-content:center; align-items:center">
    <div class="row">
        <!-- Bild-raden, alltid centrerad -->
        <div class="container" style="display:flex; justify-content:center">
            @if (advert != null)
            {
                <ImageCarousel ImageUrls="@advert.Residence.ImageUrls.ToList()"></ImageCarousel>
            }
            else
            {
                <p>Laddar bilder</p>
            }
        </div>

        @* <div class="row gx-0 justify-content-center">
            <div class="col-auto">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor"></RealtorProfileCard>
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>
            <div class="col-auto">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor"></RealtorProfileCard>
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>
        </div> *@
        @* <div class="row gx-3">
            <div class="col-7">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor"></RealtorProfileCard>
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>
            <div class="col-5">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor"></RealtorProfileCard>
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>
        </div> *@
        <div class="row gx-3">
            <!-- Vänstra kolumnen: 70% på md+ skärmar, 100% på små -->
            <div class="col-12 col-md-7 mb-3">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor" />
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>

            <!-- Högra kolumnen: 30% på md+ skärmar, 100% på små -->
            <div class="col-12 col-md-5">
                @if (advert != null)
                {
                    <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor" />
                }
                else
                {
                    <p>Laddar profil</p>
                }
            </div>
        </div>

    </div>
</div>



@code {
    [Parameter]
    public int id { get; set; }

    AdvertDto advert;
    RealtorFullProfileDto realtorFullProfileDto;

    protected override async Task OnInitializedAsync()
    {
        advert = await client.AdvertAsync(id);

        if (advert != null)
        {
            realtorFullProfileDto = await client.FullProfileAsync(advert.Realtor.Id);            
        }
    }
}
