@page "/counter"
@inject IRealtorService realtorService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
@if(realtor != null)
{
    <p>@realtor.Realtor.FirstName</p>
    <p>@realtor.Realtor.LastName</p>
    <p>@realtor.Realtor.PhoneNumber</p>
    <p>@realtor.Realtor.Email</p>
    <p>@realtor.Realtor.AgencyName</p>
    <p>@realtor.Realtor.PictureUrl</p>
}
else
{
    <p>loading</p>
}

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="IncrementCount">Click me</MudButton>

@code {
    private int currentCount = 0;
    private RealtorFullProfileDto realtor;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override async Task OnInitializedAsync()
    {
        // Testkod men fungerande
        try
        {
            realtor = await realtorService.GetMyProfileAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fel vid hämtning av profil: {ex.Message}");
        }
    }
}
