@page "/"
@inject IClient httpClient

<PageTitle>Home</PageTitle>

@if (test != null)
{

    <MudCard Class="pa-4" Style="@($"color:{Theme.PaletteLight.SuccessLighten}; background:{Theme.PaletteLight.Dark};")">
        <MudCardContent>
            <MudText>@test.AgencyName</MudText>
            <MudText Typo="Typo.body2">Du kan ringa mig när som helst: @test.PhoneNumber</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">@test.Email</MudButton>
        </MudCardActions>
    </MudCard>
    <RealtorProfile Id="1"></RealtorProfile>
    <AgencyProfile Id="3"></AgencyProfile>



}
@if (result != null)
{

    foreach (var advert in result)
    {
        <RealtorActiveAdvert
        Title="@advert.Residence.Address.Street"
        ImageUrl="@advert.Residence.ImageUrls.FirstOrDefault()"
        CurrentPrice="@advert.CurrentPrice.ToString()"
        Area="@advert.Residence.Area"
                             BiArea="@advert.Residence.BiArea"
                             Room="@advert.Residence.Rooms"
                             Floor="2"
                             FloorRow="@advert.Residence.FloorRows"
        MonthlyFee="@advert.Residence.MonthlyFee.ToString()"
        OperatingCost="@advert.Residence.OperatingCost.ToString()"
        Description="@advert.Residence."
        Facilities="@(new string[] {"Balkong", "Parkering"})">
            <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
        </RealtorActiveAdvert>
    }

}
else
{
    <p>Laddar profil...</p>
}

@code {
    private string img = "";
    private MudTheme Theme = new MudTheme();

    RealtorProfileDto test;
    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.Apartment, ResidenceType.House }
        };

    protected override async Task OnInitializedAsync()
    {
        test = await httpClient.ProfileGETAsync(4);
        result = await httpClient.FilterAsync(advertFilter);
    }

}


