@page "/"
@inject IClient httpClient

<PageTitle>Home</PageTitle>

@if (test != null)
{

    <MudCard Class="pa-4" Style="@($"color:{Theme.PaletteLight.SuccessLighten}; background:{Theme.PaletteLight.Dark};")">
        <MudCardContent>
            <MudText>@test.AgencyName</MudText>
            <MudText Typo="Typo.body2">Du kan ringa mig när som helst: @test.PhoneNumber</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">@test.Email</MudButton>
        </MudCardActions>
    </MudCard>
    <RealtorProfile Id="1"></RealtorProfile>
    <AgencyProfile Id="3"></AgencyProfile>

    <FribergRealEstatesClient.Components.RealtorActiveAdvert
    Title="Fridensborsvägen 62"
    ImageUrl="@(new string[] {"https://bilder.hemnet.se/images/itemgallery_cut/9d/ba/9dbaf746d1028e6b09d55eac9cd86801.jpg"})"
    CurrentPrice="@test.FirstName"
    Area="84"
    BiArea="25"
    Room="3"
    Floor="1"
    FloorRow="3"
    MonthlyFee="4 126"
    OperatingCost="43 017"
    Description="Välkommen till denna fantastiskt välplanerade tvåa i populära Järvastaden! Här får du en ljus och rymlig lägenhet med genomtänkta detaljer och modern standard, perfekt för både singelhushåll eller paret. Bostaden bjuder på ett öppet kök med stilrena vitvaror, ett vardagsrum med generösa fönster som släpper in rikligt med dagsljus, och ett rofyllt sovrum med gott om förvaring. Den mysiga balkongen ger ett extra rum för avkoppling och härliga sommarkvällar."
    Facilities="@(new string[] {"Balkong", "Parkering"})">
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>

    </FribergRealEstatesClient.Components.RealtorActiveAdvert>

}
@if (result != null)
{
    foreach (var advert in result)
    {
        <MudCard Class="pa-4" Style="@($"color:{Theme.PaletteLight.SuccessLighten}; background:{Theme.PaletteLight.Dark};")">
            <MudCardContent>
                <MudText>@advert.CurrentPrice</MudText>
                <MudText Typo="Typo.body2">@advert.Residence.Area</MudText>
                <MudText Typo="Typo.body2">@advert.Residence.OperatingCost</MudText>
            </MudCardContent>
        </MudCard>
    }

}
else
{
    <p>Laddar profil...</p>
}

@code {

    private MudTheme Theme = new MudTheme();

    RealtorProfileDto test;
    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.Apartment, ResidenceType.House }
        };

    protected override async Task OnInitializedAsync()
    {
        test = await httpClient.ProfileGETAsync(4);
        result = await httpClient.FilterAsync(advertFilter);
    }

}


