@page "/"
@inject IClient httpClient

<PageTitle>Home</PageTitle>

<!-- Exempel hur använda RealtorActiveAdvert -->
<div class="container-large">
    @if (result != null)
    {
        foreach (var advert in result)
        {
            <RealtorActiveAdvert Title="@advert.Residence.Address.Street"
                                 City="@advert.Residence.Address.City"
                                 Commune="@advert.Residence.Address.CommunName"
                                 ImageUrl="@advert.Residence.ImageUrls.FirstOrDefault()"
                                 CurrentPrice="@advert.CurrentPrice.ToString()"
                                 Area="@advert.Residence.Area"
                                 BiArea="@advert.Residence.BiArea"
                                 Room="@advert.Residence.Rooms"
                                 Floor="@advert.Residence.Floors"
                                 FloorRow="@advert.Residence.FloorRows"
                                 MonthlyFee="@advert.Residence.MonthlyFee.ToString()"
                                 OperatingCost="@advert.Residence.OperatingCost.ToString()"
                                 Description="@advert.Residence.Description"
                                 Facilities="@advert.Residence.Facilities.ToArray()"
                                 AgencyName="@advert.Realtor.AgencyName">
            </RealtorActiveAdvert>
            <br />
        }
    }
    else
    {
        <p>Laddar annons...</p>
    }
</div>

@code {

    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.House }
        };

    protected override async Task OnInitializedAsync()
    {
        result = await httpClient.FilterAsync(advertFilter);
    }

}


