@*Made by Samuel*@
@* Updated and Styled by Jonathan *@
@page "/realtor/search"
@inject IRealtorService realtorService
@inject NavigationManager navManager

<PageTitle>Sök Mäklare</PageTitle>

<div class="mt-4 container-fluid">
	<MudGrid>
		<MudItem xs="12" sm="4" md="4">
			<GenericSearchBox _searchTerm="@_searchTerm"
							  _searchTitle="@_setSearchBoxTitle"
							  OnSearch="SearchRealtors">
			</GenericSearchBox>
		</MudItem>
		<MudItem xs="12" sm="12" md="6">
			@* Adverts *@
			<div class="advert-list-container">
				@if (_searching)
				{
					<MudProgressCircular Indeterminate="true" Color="Color.Primary" />
				}
				else if (_getRealtors.Count == 0)
				{
					<MudText>Ange sökkriterier och klicka på Sök</MudText>
				}
				else if (!_getRealtors.Any())
				{
					<MudAlert Severity="Severity.Info">Inga mäklare hittades i @_searchTerm</MudAlert>
				}
				else
				{
					<MudGrid GutterSize="3">
						@foreach (var person in _getRealtors)
						{
							<MudItem xs="12" sm="6" md="4" 
								style="cursor: pointer">
										<div class="realtor-card-search">
											<RealtorProfileCard RealtorDto="person" />
										</div>
							</MudItem>
						}
					</MudGrid>
				}
			</div>
		</MudItem>
	</MudGrid>
</div>
@* <div class="m-4 container-large">
	<MudGrid Spacing="6" Style="display: flex; justify-content:center">
		<!-- Generic SearchBox -->
		<MudItem xs="12" sm="4" md="4">
			<GenericSearchBox 
			_searchTerm="@_searchTerm"
			_searchTitle="@_setSearchBoxTitle"
			OnSearch="SearchRealtors" >
			</GenericSearchBox>
		</MudItem>

		<!-- Realtor Profile Card Grid -->
		<MudItem xs="12" sm="12" md="8">
			@* Adverts 
			<div class="advert-list-container">
				@if (_searching)
				{
					<MudProgressCircular Indeterminate="true" Color="Color.Primary" />
				}
				else if (_getRealtors.Count == 0)
				{
					<MudText>Ange sökkriterier och klicka på Sök</MudText>
				}
				else if (!_getRealtors.Any())
				{
					<MudAlert Severity="Severity.Info">Inga mäklare hittades på denna ort</MudAlert>
				}
				else
				{
					@foreach (var person in _getRealtors)
					{
						<MudItem xs="12" sm="6" md="4"
								 @onclick="@(() => NavigateToPerson(person.Id))"
								 style="cursor: pointer;
								 transition: transform 0.3s ease-in-out;"
								 onmouseover="this.style.transform='scale(1.05)'"
								 onmouseout="this.style.transform='scale(1)'">
							<RealtorProfileCard RealtorDto="person"></RealtorProfileCard>
						</MudItem>
					}
				}
			</div>
		</MudItem> *@
		@* <MudItem xs="12" sm="8" md="6">
			<div class="advert-list-container">
				
				
				else if (_searching)
				{
					<MudProgressCircular Indeterminate="true" Color="Color.Primary" />
				}
				
				@if (_getRealtors.Count == 0)
				{
					<MudText>Ange sökkriterier och klicka på Sök</MudText>
				}

				else if (!_getRealtors.Any())
				{
					<MudAlert Severity="Severity.Info">Inga mäklare hittades på denna ort</MudAlert>
				}
				else
				{
					@foreach (var person in _getRealtors)
					{
						<MudItem xs="12" sm="6" md="4"
						@onclick="@(() => NavigateToPerson(person.Id))"
						style="cursor: pointer;
								 transition: transform 0.3s ease-in-out;"
						onmouseover="this.style.transform='scale(1.05)'"
						onmouseout="this.style.transform='scale(1)'">
							<RealtorProfileCard RealtorDto="person"></RealtorProfileCard>
						</MudItem>
					}
				}
			</div>
		</MudItem> *@
@* 	</MudGrid>
</div> *@

@code {
	private List<RealtorSummaryDto> _getRealtors = new();

	private string _searchTerm = string.Empty;

	private string _errorMessage = "Inga mäklare hittades i ";
	private string _setSearchBoxTitle = "Sök mäklare i stad/kommun";

	private bool _searching = false;
	private bool _searchPerformed = false;


	private async Task SearchRealtors(string term)
	{
		_searching = true;
		_searchPerformed = false;
		StateHasChanged();

		await Task.Delay(500);
		_searchTerm = term;
		if(!string.IsNullOrWhiteSpace(_searchTerm))
			_getRealtors = await realtorService.GetAllByCity(_searchTerm);


		_searching = false;
		_searchPerformed = true;
		StateHasChanged();
	}

	private void NavigateToPerson(int id)
	{
		navManager.NavigateTo($"/realtor/{id}");
	}
}
