@inject IAgencyService agencyService

@*made by Samuel*@
@if (profileDto != null)
{
	<div style="height: 200px;">
		<MudCard Style="display: flex; flex-direction: row; height: 100%;">

			<div>
				<GenericImageBox ImageUrl="@profileDto.LogoUrl"
				AltText="byrå logga"
				SetStyling="object-fit: cover; width: 150px; height: 100%;">
				</GenericImageBox>
			</div>


			<div>
				<MudCardContent>
					<MudText Typo="Typo.h5">@profileDto.Name</MudText>
					<MudText Typo="Typo.body2">
						<strong>Address:</strong>
						@profileDto.Address.Street,
						@profileDto.Address.PostalCode,
						@profileDto.Address.City
					</MudText>
					<MudText Typo="Typo.body2"><strong>Om oss:</strong></MudText>
					<MudText Typo="Typo.body2">@profileDto.Description</MudText>
				</MudCardContent>
			</div>
		</MudCard>
	</div>
}
else
{
	<MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}


@code {
	[Parameter]
	public int Id { get; set; }

	private AgencyWithSimpleRealtorsDto profileDto;

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			profileDto = await agencyService.GetAgencyProfile(Id);
		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Fel vid hämtning av byrå profil med Id: {Id}: {ex.Message}");
		}
	}
}