@*Auth Hamza*@
@page "/profile"
@inject IRealtorService realtorService

<div class="container-large">
    @if (realtor != null)
    {
        <RealtorProfileCard realtorDto="@realtor.Realtor"></RealtorProfileCard>

        <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
            <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@chartData" InputLabels="@chartLabels">
                <CustomGraphics>
                    <text class="donut-inner-text" x="50%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="20">Total</text>
                    <text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="50">@totalSoldAndActive</text>
                </CustomGraphics>
            </MudChart>
        </div>

        <div class="stats-overview">
            <MudPaper Elevation="8" Class="stat-card" @onclick="ShowActiveAdverts" style="cursor: pointer;">
                <div class="stat-content">
                    <MudIcon Icon="@Icons.Material.Filled.HomeWork" Class="stat-icon" />
                    <div>
                        <MudText Typo="Typo.body2">Aktiva Annonser</MudText>
                        <MudText Typo="Typo.h5">@realtor.ActiveAdverts.Count</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="8" Class="stat-card" @onclick="ShowAllAdverts" style="cursor: pointer;">
                <div class="stat-content">
                    <MudIcon Icon="@Icons.Material.Filled.HomeWork" Class="stat-icon" />
                    <div>
                        <MudText Typo="Typo.body2">Alla Annonser</MudText>
                        <MudText Typo="Typo.h5">@totalSoldAndActive</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="8" Class="stat-card" @onclick="ShowSoldAdverts" style="cursor: pointer;">
                <div class="stat-content">
                    <MudIcon Icon="@Icons.Material.Filled.HomeWork" Class="stat-icon" />
                    <div>
                        <MudText Typo="Typo.body2">Sålda Annonser</MudText>
                        <MudText Typo="Typo.h5">@realtor.SoldAdverts.Count</MudText>
                    </div>
                </div>
            </MudPaper>
        </div>
        if (ShowActive)
        {
            foreach (var item in realtor.ActiveAdverts)
            {
                <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
            }
        }
        if (ShowSold)
        {
            foreach (var item in realtor.SoldAdverts)
            {

                <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
            }
        }

    }
</div>

@code {
    private RealtorFullProfileDto realtor;
    private double[] chartData;
    private string[] chartLabels;
    private int totalSoldAndActive;
    private bool ShowActive = true;
    private bool ShowSold = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            realtor = await realtorService.GetMyProfileAsync();

            int totalAdverts = realtor.ActiveAdverts.Count() + realtor.SoldAdverts.Count();
            int activeAdverts = realtor.ActiveAdverts.Count();
            int soldAdverts = realtor.SoldAdverts.Count();

            totalSoldAndActive = activeAdverts + soldAdverts;

            chartData = new double[]
            {
                activeAdverts,
                soldAdverts,
            };

            // Set chart labels
            chartLabels = new string[]
            {
                $"Active Adverts: {activeAdverts}",
                $"Sold Adverts: {soldAdverts}",
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching profile: {ex.Message}");
        }
    }

    private void ShowAllAdverts()
    {
        ShowSold = true;
        ShowActive = true;
    }
    private void ShowActiveAdverts()
    {
        ShowActive = true;
        ShowSold = false;
    }
    private void ShowSoldAdverts()
    {
        ShowActive = false;
        ShowSold = true;
    }

}
